<div class="actors-container">
  <div class="container-title">Popular Actors</div>
  <ul class="actors-list">
    <% @actors.each do |actor| %>
      <% next if !actor.profile_path %>
      <li class="actors-list-item">
        <a href="/actors/<%= actor.id %>" title="<%= actor.title %>">
          <img class="actor-poster" title="<%= actor.name %>" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%= actor.profile_path %>" />
        </a>
      </li>
    <% end %>
  </ul>
</div>
