<div class="comment-container">
  <div class="comment-body"><%= comment.body %></div>
  <div class="comment-footer">
    <span><%= comment.user.name %> - <%= comment.created_at.strftime("%m-%d-%Y %I:%M %p") %></span>
  </div>
</div>
