/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* ----- DOM elements ----- */

 *{
   box-sizing:border-box;
   font-family: franklin-gothic-medium, sans-serif;
 }
 /*a{
   color: #005999;
   text-decoration: none;
 }
 a:hover{
   text-decoration: underline;
 }
 a:visited {
   color: #005999;
 /*/
 body{
   margin: 0px;
 }
 button{
   cursor: pointer;
 }
 header{
   background-color: black;
   border-color: #ffe852;
   border-style: solid;
   border-width: 3px 0px 0px 0px;
   position: fixed;
   width: 100%;
 }
 /*input{
   padding: 8px;
 }
 label{
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
 }
 main{
   padding-top: 60px;
 }*/

 /* ----- .classes ----- */
 .container, #navbar-container{
   min-width: 750px
 }
 .container{
   display: flex;
   flex-direction: column;
   margin: 0px auto;
   max-width: 800px;
   padding:67px 10px 0px;
 }
 .form-button{
   background-color: #005999;
   border-radius: 5px;
   border-width: 0px;
   color: white;
   font-size: 16px;
   outline: none;
   padding: 8px 10px;
 }
 .form-button:hover{
   background-color: #ffe852;
 }
 .form-footer{
   display: flex;
   justify-content: center;
   margin:10px 0px;
 }
 .navbar-link-list{
   align-items: center;
   display: flex;
   flex-direction: row;
   list-style-type: none;
   margin: 0px;
   padding: 0px;
 }
 .navbar-link-list a{
   background-color: transparent;
   border-color: darkgray;
   border-style: solid;
   border-width: 0px;
   color: #ffe852;
   font-size: 16px;
   padding: 20px 8px;
   text-decoration: none;
 }
 .navbar-link-list a:hover{
   background-color: rgba(0,119,204,0.1);
 }
 .navbar-list-item{
   align-items: center;
   display: flex;
 }

 /* ----- #ids ----- */

 #header-banner-container{
   align-items: center;
   align-self: center;
   /*border-color: darkgray;
   border-style: solid;
   border-width: 0px 2px 0px 0px;*/
   color: white;
   cursor: default;
   display:flex;
   font-size: 28px;
   font-weight: 100;
   height: 100%;
   justify-content: center;
   padding:0px 20px;
 }
 #logo-p2{
   font-weight: 900;
   margin-left:2px;
 }
 #navbar-container{
   display: flex;
   justify-content: space-between;
   margin: 0px auto;
   max-width: 1000px;
   width: 100%;
 }
 #navbar-left-container{
  display: flex;
  justify-content: flex-start;
 }
 #navbar-left-container a{
  /*border-right-width: 1px;*/
 }
 #navbar-right-container{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px
 }
 #navbar-right-container a{
  /*border-left-width: 1px;*/
 }
