// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-body{
  font-size: 14px;
  margin: 5px;
}
.comment-container{
  border-color:gray;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  padding:5px;
  width:100%;
}
#comment-container-title{
  font-size: 24px;
}
.comment-footer{
  display: flex;
  justify-content: space-between;
}
#comment-form-body{
  font-size: 14px;
  height: 150px;
  resize: none;
  width: 500px
}
