.movie{
  background-position: center;
  background-size: cover;
}
.movies-container{
  width:800px;
}
.movie-container{
  display:flex;
  justify-content: space-between;
  margin-bottom:5px;
}
.movie-details-container{
  display:flex;
  flex-direction: column;
  margin:0px 10px;
}
.movie-details-container > div{
  margin-bottom:5px;
}
.movies-list{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 0px;
  padding: 0px
}
.movies-list li{
  display:inline-block;
}
.movie-details-poster{
  height:350px;
}
.movie-overview{
  font-size:14px;
  max-height: 70px;
  overflow: auto;
}
.movie-overview-label{
  font-size:18px;
}
.movie-poster{
  width:195px;
}
.movie-poster-container{
  display: flex;
  flex-direction: column;
}
.movie-rating{
  text-align: center;
}
.movie-reviews-container{
  border-style: solid;
  border-width: 3px 0px 0px 0px
}
.movie-starring-label{
  font-size:18px;
}
.movie-starring-list{
  font-size: 16px;
  list-style-type: none;
  margin:0px;
  padding:0px 20px;
}
.movie-title{
  font-size:32px;
}
.starring-list-item{

}
