<div class="container-title">New Review for <%= Movie.get_by_id(@movie.api_id).title %> </div>
<%= form_for @review, url: "/movies/#{@movie.api_id}/reviews/#{@review.id}" do |f| %>
   <input name="_method" type="hidden" value="put" />
   <%= render "review_form" %>
<% end %>
<%= render template: 'layouts/_errors.html.erb' %>
